#sample {
  border: 1px solid red;
  width: 250px;
  height: 250px;
  background-color: lightblue;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
